*{
    box-sizing: border-box;
}
header {
    border: 1px green solid;
    background-color: green;
    color: white;
}
main {
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0,815);
    border: 1px solid wheat;
    width: 80%;
    max-width: 1000px;
}
a {
    padding: 5px;
    text-decoration: none;
    color: white;
}
article {
    border: 1px solid;
    text-align: left;
}
article.vizeink {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    text-align: center;
    gap: 10px ;
}
img {
    width: 100%;
    padding: 5px;
}
@media screen and (max-width:600px) {
    article.vizeink {
        display: grid;
        grid-template-columns: 100%;
    }
}